
.header{
    padding: 8px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
}


.userList{

    background-color: rgb(9, 9, 100);
    color: white;
}

.instruction{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: rgb(0, 67, 91);
    color: white;
}

.user_profile{
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    border: 1px solid rgb(193, 184, 184);
}
.user_profile:hover{
    background-color:whitesmoke;
  
}

.avtar_img{
    border-radius: 50%;
    background-color: brown;
}

